* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #F5FAFE;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.button {
  background-color: #EC1F46;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header-top-inner {
  background-color: #fff;
}

.header-top__menu-btn {
  display: none;
}

.header-menu {
  color: #fff;
  padding: 31px 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-inner {
  background-color: #0A223D;
}

.header .logo {
  width: 177px;
}

.header .logo-image {
  width: 100%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.search__input {
  width: 350px;
  height: 40px;
  padding-left: 23px;
  padding-right: 88px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
}

.search__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 65px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
}

.menu-btn {
  height: 11px;
  cursor: pointer;
}

.menu-btn__line {
  width: 16px;
  height: 1px;
  background-color: #333333;
}

.breadcrumb {
  padding: 19px 0;
}

.breadcrumb-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: ' / ';
  margin-right: 4px;
  font-size: 10px;
}

.breadcrumb-list__link {
  font-size: 10px;
  line-height: 13px;
}

.hotel {
  padding: 23px 0 70px 0;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-info__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel-info__stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hotel-info__title {
  font-size: 24px;
  line-height: 30px;
  margin: 4px 14px 0 0;
  display: inline-block;
}

.hotel-info__offer {
  color: #fff;
  background-color: #EC1F46;
  border-radius: 4px;
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  margin-top: 9px;
}

.hotel-info__subtitle {
  margin: 10px 0 20px 0;
  font-size: 12px;
  line-height: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.rating {
  color: #fff;
  background-color: #EC1F46;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9px 9px;
  text-align: center;
}

.rating__text {
  font-size: 10px;
  line-height: 13px;
}

.rating__value {
  font-size: 16px;
  line-height: 20px;
}

.swiper {
  width: 728px;
  border-radius: 8px;
  overflow: hidden;
  height: 450px;
  position: relative;
}

.swiper-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 29;
}

.swiper-button {
  position: absolute;
  z-index: 99;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.swiper-button--prev {
  left: 18px;
}

.swiper-button--next {
  right: 18px;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.hotel-grid__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking {
  color: #fff;
  background-color: #0A223D;
  border-radius: 8px;
  width: 387px;
  min-height: 210px;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__button {
  padding: 13px;
  font-size: 14px;
  line-height: 19px;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call-centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 17px;
  margin-top: 9px;
}

.info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__text {
  font-size: 12px;
  line-height: 16px;
}

.info__pricetag {
  font-size: 24px;
  line-height: 33px;
}

.info__icon {
  margin-right: 14px;
}

.map {
  background-color: #0A223D;
  border-radius: 8px;
  overflow: hidden;
  width: 387px;
  height: 213px;
}

.newsletter {
  background-image: url(../img/newsletter.jpg);
  background-repeat: no-repeat;
  color: #fff;
  padding: 90px 0;
  background-size: cover;
  position: relative;
  z-index: -3;
}

.newsletter::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(10, 34, 61, 0.8);
  z-index: -2;
}

.newsletter-inner {
  margin: 0 auto;
  max-width: 731px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__text {
  font-size: 24px;
  line-height: 30px;
}

.newsletter__strong {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.subscribe {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  width: 355px;
  height: 55px;
}

.subscribe__input {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
  padding-left: 33px;
  padding-right: 98px;
  border: none;
}

.subscribe__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .swiper {
    width: 550px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .header-top {
    padding: 30px 0;
  }
  .header-menu {
    font-size: 12px;
    line-height: 15px;
    padding: 31px 0;
  }
  .header .logo {
    width: 132px;
  }
  .search__input {
    width: 340px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel-grid__in {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hotel__swiper {
    width: 100%;
    margin-bottom: 20px;
  }
  .map {
    width: 327px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 92%;
  }
  .header-top .search, .header-top .user {
    display: none;
  }
  .header-top__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu-inner {
    display: none;
  }
  .hotel-info__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 0;
  }
  .hotel-info__stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .hotel-info__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px 0 0 0;
  }
  .rating {
    display: none;
  }
  .swiper {
    height: 340px;
  }
  .hotel-grid__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking, .map {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 320px) {
  .container {
    background-color: coral;
  }
  .header .logo {
    width: 99px;
  }
  .swiper {
    height: 220px;
  }
}
/*# sourceMappingURL=style.css.map */