* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #F5FAFE;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.button {
  background-color: #EC1F46;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header-top-inner {
  background-color: #fff;
}

.header-top__menu-btn {
  display: none;
}

.header-menu {
  color: #fff;
  padding: 31px 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-inner {
  background-color: #0A223D;
}

.header .logo {
  width: 177px;
}

.header .logo-image {
  width: 100%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.search__input {
  width: 350px;
  height: 40px;
  padding-left: 23px;
  padding-right: 88px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
}

.search__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 65px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
}

.menu-btn {
  height: 11px;
  cursor: pointer;
}

.menu-btn__line {
  width: 16px;
  height: 1px;
  background-color: #333333;
}

.breadcrumb {
  padding: 19px 0;
}

.breadcrumb-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: ' / ';
  margin-right: 4px;
}

.breadcrumb-list__link {
  font-size: 10px;
  line-height: 13px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .header-top {
    padding: 30px 0;
  }
  .header-menu {
    font-size: 12px;
    line-height: 15px;
    padding: 31px 0;
  }
  .header .logo {
    width: 132px;
  }
  .search__input {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 92%;
  }
  .header-top .search, .header-top .user {
    display: none;
  }
  .header-top__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu-inner {
    display: none;
  }
}

@media (max-width: 320px) {
  .container {
    background-color: coral;
  }
  .header .logo {
    width: 99px;
  }
}
/*# sourceMappingURL=style.css.map */